/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FONDO Y CENTRADO */
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at top, #0f0f25, #120010);
    font-family: Arial, Helvetica, sans-serif;
}

/* CONTENIDO */
.contenido{
    text-align: center;
    color: white;
    width: 90%;
    max-width: 400px;
}

/* TEXTOS */
h1{
    font-size: 2rem;
    margin-bottom: 15px;
    color: #3a6dff;
}

h2{
    font-size: 1.6rem;
    margin: 25px 0 10px 0;
}

.frase{
    margin-top: 8px;
    font-size: 1rem;
    opacity: 0.85;
}

hr{
    border: none;
    border-top: 1px solid #ffffff;
    width: 70%;
    margin: 5px auto 15px auto;
}

/* CORAZÓN BÁSICO (solo un cuadro rojo) */
.heart{
    width: 150px;
    height: 150px;
    background: red;
    margin: 10px auto 30px auto;
    border-radius: 20px;
}
