*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at top, #0f0f25, #120010);
    font-family: Arial, Helvetica, sans-serif;
}

.contenido{
    text-align: center;
    color: white;
    width: 90%;
    max-width: 400px;
}

/* Títulos */
h1{
    font-size: 2rem;
    margin-bottom: 15px;
    color: #3a6dff;
    margin-top: -40px; /* SUBE EL TÍTULO */
}

h2{
    font-size: 1.6rem;
    margin: 25px 0 10px 0;
}

.frase{
    margin-top: 8px;
    font-size: 1rem;
    opacity: 0.85;
}

hr{
    border: none;
    border-top: 1px solid #ffffff;
    width: 70%;
    margin: 5px auto 15px auto;
}

/* Corazón */
.heart{
    position: relative;
    width: 150px;
    height: 150px;
    background: red;
    transform: rotate(45deg);
    box-shadow: 0 0 40px #F20044;
    animation: palpitar 1s infinite;
    margin: 10px auto 30px auto; /* MÁS ESPACIO ARRIBA Y ABAJO */
}

.heart::before,
.heart::after{
    content: "";
    position: absolute;
    height: 150px;
    width: 150px;
    background: red;
    border-radius: 50%;
    box-shadow: 0 0 40px #F20044;
}

.heart::before{
    right: 50%;
}

.heart::after{
    top: -50%;
}

/* Animación */
@keyframes palpitar{
    0%{ transform: rotate(45deg) scale(1); }
    40%{ transform: rotate(45deg) scale(1.13); }
    80%{ transform: rotate(45deg) scale(1); }
    100%{ transform: rotate(45deg) scale(0.95); }
}

/* Para celular */
@media (max-width: 480px){
    h1{ font-size: 1.6rem; margin-top: 0; }
